* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: url("./images/mainbg.png") 0 0 no-repeat,
    url("./images/mainbg2.png") 100vw 0 no-repeat,
    url("./images/mainbg3.jpg") 200vw 0 no-repeat; */
    animation: slide 9s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    scroll-behavior: smooth;
    flex-wrap: wrap;
    transition: all 1s ease;
}

.intro-search {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    transition: all .5s ease;
    text-decoration: none;
    position: relative;
}

.intro-search-p {
    display: none;
    transition: all .4s ease 2s;
    white-space: nowrap;
}

.intro-search img {
    width: 40px;
    height: 32px;
}

.intro-search:hover {
    cursor: pointer;
    box-shadow: 10px 10px 40px purple;
    background-color: purple;
    width: 300px;
}

.intro-search:hover .intro-search-p {
    display: block;
}

@keyframes slide{
    0%, 100% {
        background-image: url("./images/mainbg.png");
    }

    33% {
        background-image: url("./images/mainbg2.png");
    }
    
    66% {
        background-image: url("./images/mainbg3.jpg");
    }
}

.main-wrapper {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-wrapper h1 {
    font-size: 70px;
}

.container {
    max-width: 70vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.menu-wrapper {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 55%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 35px;
    position: fixed;
    top: 40px;
    z-index: 999;
}

.menu-wrapper img {
    width: 133px;
    height: 80px;
}

.menu-wrapper a, .burger-menu-main-wrapper a {
    outline: none;
    border: none;
    background-color: white;
    font-size: 20px;
    transition: .3s;
    text-decoration: none;
    color: black;
    position: relative;
}

.menu-wrapper a:hover, .burger-menu-main-wrapper a:hover {
    cursor: pointer;
    color: rgb(158, 0, 255);
}

.menu-wrapper a::after, .burger-menu-main-wrapper a::after {
    transition: all .5s ease;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-top: 2px solid rgb(158, 0, 255);
    width: 10px;
    opacity: 0;
}

.menu-wrapper a:hover::after, .burger-menu-main-wrapper a:hover::after {
    opacity: 1;
    transform: translateX(-50%);
    width: 50px;
}

.burger-menu {
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
    box-shadow: 5px 5px 25px 3px black;
    transition: all .3s ease;
}

.burger-menu:hover {
    cursor: pointer;
}

.burger-menu img {
    position: absolute;
    height: 20px;
    width: 20px;
}

.burger-menu-main {
    position: absolute;
    height: 40vh;
    width: 100%;
    background-color: white;
    display: none;
    transition: all .5s ease-in;
    position: fixed;
    z-index: 998;
}

.burger-menu-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    /* border: 2px solid red; */
}

.burger-menu-main-wrapper img {
    width: 150px;
}



.why {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    /* height: 50vh; */
    position: relative;
}

.why h2 {
    font-size: 40px;
    margin-top: 80px;
    text-align: center;
}

.just {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.cards-container {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    padding-right: 15px;
}

.handshake{
    width: 100px;
    height: 100px;
}

.tick {
    width: 80px;
    height: 80px;
}

.medal {
    width: 80px;
    height: 90px;
}

.card-text-container h3 {
    font-size: 40px;
}

.card-text-container p {
    font-size: 20px;
    max-width: 200px;
}


.hot-destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* padding-bottom: 1000px; */
}

.hot-destinations h2 {
    text-align: center;
}

.hot-destinations p {
    padding: 20px 0 30px 0;
    font-size: 17px;
}

.hot-card {
    /* width: 50%;
    height: 450px; */
    border-radius: 20px;
    /* background-color: green; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
}

.hot-cards-container {
    display: flex;
    /* border: 2px solid red; */
    width: 300px;
    height: 450px;
    transition: all .5s ease;
    overflow: hidden;
    box-shadow: 10px 10px 40px;
    border-radius: 20px;
}

.hot-destinations h2 {
    font-size: 30px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .5s ease;
    right: 0;
    /* border: 2px solid green; */
}

.hot-button {
    background: none;
    outline: none;
    border: none;
    font-size: 50px;
    z-index: 10;
}

.hot-button:hover {
    cursor: pointer;
}

.left-button {
    /* position: absolute; */
    left: 10%;
    top: 50%;
    margin: 0 15px;
    /* transform: translateY(-50%); */
    /* color: white; */
}

.right-button {
    /* position: absolute; */
    right: 10%;
    top: 50%;
    margin: 0 15px;
    /* transform: translateY(-50%); */
    /* color: white; */
}

.hot-card img {
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.hot-card h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

.hot-container {
    /* border: 2px solid green; */
    display: flex;
    /* width: 500px; */
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    position: relative;
}



.pre-search {
    margin-bottom: 100px;
    /* height: 30vh; */
    color: white;
    background-image: url("./images/bgsearch.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-search h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.pre-search-desc {
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
}

.pre-search-but {
    margin-bottom: 30px;
}



.search {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* border: 2px solid red; */
    /* height: 50vh; */
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid grey;
    width: 300px;
    margin-bottom: 50px;
}

.filter-button {
    align-self: center;
    border: none;
    height: 50px;
    width: 100%;
    outline: none;
    background-color: white;
    padding: 0 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.filter-list-option {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.filter-list-option input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.filter-button img {
    width: 16px;
    height: 16px;
    /* position: absolute; */
    transform: translatex(-25%);
    transition: all .3s ease;
    padding-left: 20px;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-list {
    display: none;
}

.filter-list li {
    display: flex;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 65%;
    /* border: 2px solid yellow; */
    flex-wrap: wrap-reverse;
}

.search-cards-container {
    /* border: 2px solid green; */
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-card {
    /* width: 60%; */
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.search-card-container {
    height: 50%;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-card img {
    width: 100%;
    height: 100%;
}

.search-card-price-container {
    width: 100%;
    /* border: 2px solid red; */
    font-size: 22px;
    margin: 10px;
    padding-left: 30px;
}



footer {
    /* height: 40vh; */
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 70%;
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section-container {
    height: 100%;
    /* width: 30%; */
    /* border: 2px solid green; */
}

.footer-img-desc {
    width: 350px;
}

.footer-container img[src="./images/logo-white.png"] {
    width: 200px;
}

.footer-img-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    text-align: center;
    justify-content: space-around;
}

.footer-img-desc-container p {
    max-width: 80%;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-header {
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    /* border: 2px solid grey; */
}

.footer-header::after {
    content: "";
    position: absolute;
    top: 130%;
    border-top: 2px solid orange;
    width: 75%;
}

.footer-column-container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid orange; */
    width: 75%;
}

.footer-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.footer-column a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0;
    transition: all .3s ease;
}

.footer-column a:hover {
    color: white;
}

.socials-container {
    display: flex;
    /* border: 2px solid yellow; */
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.socials-container img {
    width: 60px;
    height: 60px;
}

.socials-container img[src="./images/instagram.png"] {
    width: 70px;
    height: 50px;
}

.socials-container img:hover {
    cursor: pointer;
}

.footer-subscribe-container p {
    color: grey;
    margin: 40px 0;
}

.footer-form {
    height: 50%;
    width: 80%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-form input[type="email"] {
    width: 70%;
    padding: 18px;
    background-color: grey;
    border: none;
    outline: none;
    color: white;
}

.footer-form input::placeholder{
    color: darkgrey;
}

.footer-form input[type="submit"] {
    width: 51px;
    height: 51px;
    /* background-color: orange; */
    border: none;
    outline: none;
    background-image: url("./images/tg-arrow.png");
    background-size: contain;
}

.footer-form input[type="submit"]:hover {
    cursor: pointer;
}

.footer-button-container {
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 786px) {
    .burger-menu {
        display: flex;
    }

    .menu-wrapper {
        display: none;
    }
}

@media (max-width: 350px) {
    .left-button, .right-button {
        position: absolute;
        color: white;
        transform: translateY(-50%);
    }

    .right-button {
        right: 0;
    }

    .left-button {
        left: 0;
    }
}
